#u90
{
	background-color: #008040;
}

#u2846,#u1160
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u91-4
{
	display: block;
	vertical-align: top;
}

#u3648,#u2717,#u4235,#u3488
{
	background-color: transparent;
}


