#u2856
{
	background-color: #008040;
}

#u2848
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u2849-4
{
	display: block;
	vertical-align: top;
}

#u3658,#u2850,#u4247,#u3494
{
	background-color: transparent;
}


